<div>
<h1>HELADOM</h1>
</div>

<div class="container">
  <div class="btn-group">
    <button class="btn">Menu Principal</button>
<button class="btn dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<%= link_to "Reportes", reports_index_url %>
</ul>
</div>
</div>
