@import "bootstrap";
$text-color: #000D40;

body {
  background: $text-color;
  text-align: center;
}

.jumbotron {
  width: 450px;
  float: none;
  margin: 10% auto;
}

.centro {
  margin: 0 auto;
  margin: -50px;
  height: auto;
}

li {
  list-style-type: none;
  display: inline-block;
}

.btn a {
  color: white;
}
