// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$text-color: #000D40;

body {
  margin: 15px auto;
}

.btn .btn-primary {
  width: auto;
  color: white;
  background: $text-color;
}

ul li {
  margin-top: 20px;
  padding: 5px;
}

h1 {
  margin-top: -20px;
  padding: 20px;
}
