<table>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Total Sistema</th>
      <th>Total Caja</th>
      <th>Diferencia</th>
    </tr>
    <% @turnpaymethod.each do | paymethod | %>
      <tr>
        <td><%= paymethod.paymethod_id %></td>
        <td><%= paymethod.paymethod_description %></td>
        <td><%= paymethod.system_total %></td>
        <td><%= paymethod.cashbox_total %></td>
        <td><%= paymethod.difference %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><%= @sumpay[:system_total] %></td>
      <td><%= @sumpay[:cashbox_total] %></td>
      <td><%= @sumpay[:difference] %></td>
    </tr>
</table>

