<table>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Neto 1</th>
      <th>Neto 2</th>
      <th>Neto 3</th>
      <th>Neto 4</th>
    </tr>
    <% @products.each do | product | %>
      <tr>
        <td><%= product.product_id %></td>
        <td><%= product.product_description %></td>
        <td><%= product.billdetail_amount %></td>
        <td><%= product.billdetail_net1 %></td>
        <td><%= product.billdetail_net2 %></td>
        <td><%= product.billdetail_net3 %></td>
        <td><%= product.billdetail_net4 %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><%= @sum[:amount] %></td>
      <td><%= @sum[:net1] %></td>
      <td><%= @sum[:net2] %></td>
      <td><%= @sum[:net3] %></td>
      <td><%= @sum[:net4] %></td>
    </tr>
</table>

