<% if @products.present? %>
  <%= render "productsummary" %>
<% end %>
<% if @turnpaymethod.present? %>
  <%= render "paymethodsummary" %>
<% end %>
<div class="form-group">
  <%= form_tag(daily_reports_path, method: :get) do %>
  <div class="input-group date" data-provide="datepicker">
    <%= text_field_tag :date, params[:date], id: "datepicker", class: "form-control" %>

  <%= select_tag :store, options_for_select(@stores) %>
  <%= select_tag :pos_desc, options_for_select(@pos) %>
  <% if @turns.present? %>
    <%= select_tag :turns, options_for_select(@turns) %>
  <% end %>
  <div class="contenedor">
  <%= submit_tag "Buscar", class: "btn btn-primary" %>
<% end %>
</div>
