<h1>Modulo de reportes</h1>
<div class="container">
<div class="btn-group">
  <button class="btn">Seleccion</button>
<button class="btn dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <%= link_to "Reporte Diario", reports_daily_url %>
</ul>
</div>
</div>
