<!DOCTYPE html>
<html>
  <head>
    <title>Heladom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
		<div class="jumbotron">
						<p class="notice"><%= notice %> </p>
							<p class="alert"><%= alert %> </p>
							<div class="centro">
		<div class="btn btn-primary">
					<%= link_to('Inicio', root_path) %>
</div>
		<% if user_signed_in? %>
			  <li>
				<%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
		  </li>
		<% else %>
				<div class="btn btn-primary">
		 <li>
				  <%= link_to('Ingresar', new_user_session_path)   %>
		 </li>
	 </div>
		<% end %>

		<%= yield %>
</div>
	</div>
</div>
  </body>
</html>
